 .menDiv{
       display: flex;
 }
.img-panel{
 
   width: 50%;
   margin: 20px;
}
.btn-panel{
    border:  1 solid rgb(0, 0, 0);
    width: 50%;
    text-align: center;
    margin-top: 200px;
}

 
 img{
    width: 100%;
    border-radius: 10px;
 }
.btn-panel>button{
    border: none;
    padding: 8px;
    border-radius: 2px;
   background-color: rgb(142, 135, 150);

}