.allPage{
    /* border: 1px solid darkred; */
    /* margin-left: 60px; */
    margin: auto;
    width: 30%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.welcome{
    /* border: 1px solid black; */
    margin: auto;
     
     
}
 
#InputBox{
    /* border: 1px solid black; */
      width: 300px;
      height: 30px;
    border-radius: 10px;
}
.checkBox{
     display: flex;
    gap: 59px;
      
     font-size: 1px;
      
     
     
     
     
}
#pass{
    margin-right: 130px;
}
.loginButton{
 border: none;
     height: 40px;
      width: 300px;
      border-radius: 7px;
      background-color: #2c3ee0;
      color: white;
      font-size: medium;
}
#iconImg{
     width: 30px;
}
.icon{
      display: flex;
      justify-content: space-around;
      padding-right: 90px;
}
hr{
    margin-right: 100px;
}
#menButton{

    
    text-align: center;
    width: 10%;
    color: blue;
    font-size:medium;
     margin-left: 134px;
    
}